.Cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F5F5;
    padding: 20px 32px 23px 20px;
    margin-bottom: 71px;
}

.Cart-title {
    font-size: 32px;
}

.Cart-list {
    margin-bottom: 20px;
}

.Cart-totalprice {
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    padding: 0 120px 0 20px;
}

.Cart-totalprice span {
    margin-left: 53px;
}

.Cart-empty {
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}