.AuthForm-title {
    margin: 19px 0 17px;
}

.AuthForm form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.AuthForm-error {
    color: #F00;
    margin: 0;
}