.Controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px 22px;
}

.Controls button {
  min-width: 81px;
}

.Controls-info {
  font-size: 18px;
  margin-right: 20px;
}

.Controls-info span {
  margin-left: 15px;
  color: #0C0C0C;
  font-weight: 700;
}