.Controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px 22px;
}

.Controls button {
  min-width: 81px;
}

.Controls-info {
  font-size: 18px;
  margin-right: 20px;
}

.Controls-details,
.Controls-empty {
  color: #0C0C0C;
  font-weight: 700;
}

.Controls-details {
  margin-left: 15px;
}

.Controls-empty {
  margin-left: 12px;
}